# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.Elementary Bump.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../:\UnityProjects\Projetos Realizados\Elementary Bump\.idea\.idea.Elementary Bump\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
